*, html { 
    max-width: 100%;
}
body {
    background: #191b1c;
    font-family: "Nunito", sans-serif;
    text-align: center;

}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
/*NAVBAR*/
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100; 

}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ac6a0a;
}

#mainNavbar .navbar-brand {
    color: #0785c0;
    font-size: 1.5rem;
}

.navbar.scrolled {  /*changes navbar color when scrolled*/
    background: #0b2735;
    transition: background 500ms;
}

#headingGroup span {
    color: #0785c0;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}    

/*ICON COLOR CHANGE*/
i.fab{    /*icon color*/
    color:#0785c0;
}
i.fab:hover{   /*icon hover effect color*/
    color:#ac6a0a;
}
/*BACKGROUND IMAGE FOR HEADER*/
#header {
            background: url("b3a.jpg") ;
            no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
            
        }
.jumbotron {
    padding: 10rem 0rem;
}
/*INFO CARDS*/
.card{
    margin: auto;
    background: black;
    color: white;
    align-items: center;
    margin-bottom: 2rem;
}

#abc{
    margin: auto;
}
.container{
    width: 100%;
}
.col-lg-6, col-10, col-lg-8 {
    margin: auto;
}
.img-fluid{
    padding: inherit;
}

/*BUTTON*/
.btn{
    border: 1px solid #f29f26;
}
.btn-primary{
    color: #f29f26;
}

/*CONTACT FORM*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {   /*forms*/
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {     /*forms styled input*/
    float: left;
    width: 180px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {     /*forms styled label*/
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 400px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 400px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}